@font-face {
    font-family: 'Arial Black';
    src: url("../font/ArialBlack.ttf"), url("../font/ArialBlack.eot");
}

html,
body {
    background-color: #000000;
    color: #C0C0C0;
    text-align: center;
    font-family: 'Arial Black', SimHei, sans-serif;
    font-size: 1.2vw;
}

.display-none {
    display: none !important;
}

#main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

header {
    padding: 8vh 0 8vh 0;
}

#h1 {
    font-size: 5vw;
}

#h2 {
    font-size: 1.4vw;
}

#menu {
    font-size: 1.4vw;
    padding: 0;
    margin: 0 auto;
    clear: both;
    display: none;
}

#img {
    width: 27vw;
    display: inline-block;
    margin-bottom: 8vh;
    /*float: left;*/
    /*background-color: #13E8E9;*/
}

#logo {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    border: 0.3vmax solid #111111;
    box-shadow: 0 0 12vmax #C0C0C0;
    opacity: 0.5;
    transition: all 2s;
}

#logo:hover {
    border: 0.3vmax solid #C0C0C0;
    box-shadow: 0 0 3vmax #C0C0C0;
    opacity: 0.9;
    transform: rotate(15deg);
}

#menu .link {
    font-size: 0;
    margin-bottom: 15px;
}

#menu .link a {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(17, 17, 17, 0.8);
    color: #C0C0C0;
    padding: 10px 20px;
    font-size: 1rem;
}

#menu .link a span {
    color: #b61924;
}

#menu .link a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu .link a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: none;
}

#menu .link a:hover {
    color: #F0F0F0;
    background-color: transparent;
}

#menu .link a:hover span {
    color: #ed2934;
}

@keyframes menu-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#menu.appear {
    display: block;
    animation: menu-appear 3s;
}

#menu.imme-appear {
    display: block;
}

#others .row {
    font-size: 0;
    margin-bottom: 15px;
}

#others .row a {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(17, 17, 17, 0.8);
    color: #C0C0C0;
    padding: 10px 20px;
    font-size: 1rem;
}

#others .row a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#others .row a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#others .row a:hover {
    color: #F0F0F0;
    background-color: transparent;
}

#others .row a span {
    color: #b61924;
}

#others #return a {
    padding: 10px 40px;
    font-size: 1.2rem;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1vh;
    font-size: 1vw;
}

footer a {
    color: #C0C0C0;
    text-decoration: none;
}

#particles-js {
    position: absolute;
    left: 0;
    right: 0;
    top: 1vh;
    bottom: 1vh;
    width: 90vw;
    z-index: -1;
    padding: 0 5vw 0 5vw;
}

/**
阿里巴巴图标
 */
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

@media screen and (max-aspect-ratio: 8/10) {

    html {
        font-size: 3vw;
    }

    #h1 {
        font-size: 15vw;
    }

    #h2 {
        font-size: 3vw;
    }

    #img {
        width: 60vw;
    }

    #logo {
        height: 50vw;
        width: 50vw;
        border: 0.6vh solid #111111;
        box-shadow: 0 0 30vh #C0C0C0;
    }

    #logo:hover {
        border: 0.6vh solid #C0C0C0;
        box-shadow: 0 0 5vh #C0C0C0;

    }

    #img > a:active {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}